<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="referrer" content="no-referrer"/>
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/admin.css" rel="stylesheet">
    <link rel="shortcut icon" href="#" >
    

</head>    
<body>

<div class="container">
		
	<div class="row">
		
		<div class="span2">
		
		<div class="main-left-col">
		
			<h1><i class="icon-shopping-cart icon-large"></i>zzxlibraby</h1>
			
			<ul class="side-nav">

				<li class="active">
					<a href="/"><i class="icon-home"></i> 首页概况</a>
				</li>
				<li class="dropdown">
            <a href="/lend"><i class="icon-sitemap"></i> 借阅管理</a>
					
				</li>
				<li class="dropdown">
            <a href="/bookslist"><i class="icon-shopping-cart"></i> 全部图书</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#reports-dropdown" href="#"><i class="icon-signal"></i> 评论管理 <b class="caret"></b></a>
					<ul id="reports-dropdown" class="collapse">
						<li><a href="/commentslist">评论列表</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-group"></i> 会员管理 <b class="caret"></b></a>
					<ul id="members-dropdown" class="collapse">
						<li><a href="/users">所有会员</a></li>
						<li><a href="/userdetail?username=<%- username%>">修改我的信息</a></li>
						<li><a href="/changeAdmin">修改管理员权限</a></li>
					</ul>
				</li>
				<li><a href="/notice"><i class="icon-bullhorn"></i> 公告 </a></li>
			</ul>
		
		</div> <!-- end main-left-col -->
	
	</div> <!-- end span2 -->
	
	<div class="span10">
		
	<div class="secondary-masthead">
	
		<ul class="nav nav-pills pull-right">
			<li>
				<a href="/chat"><i class="icon-globe"></i> 进入多人在线聊天室~</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> <%- username%> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/userdetail?username=<%- username%>"><%- username%>的信息</a></li>
					<li class="active"><a href="/notice">欢迎来我的网站~</a></li>
					<li class="divider"></li>
					<li><a href="loginout">注销</a></li>
				</ul>
			</li>
		</ul>

		<ul class="breadcrumb">
			<li>
				<a href="#">zzx图书管理系统</a> <span class="divider">/</span>
			</li>
			<li class="active">首页概况</li>
		</ul>
		
	</div>
	
	<div class="main-area dashboard">
		<div class="row">		
			<div class="span10">		
				<div class="slate clearfix">				
					<a class="stat-column" href="/users">						
						<span class="number"><%- results.userCount%></span>
						<span>会员人数</span>						
					</a>			
					<a class="stat-column" href="/bookslist">						
						<span class="number"><%- results.booksCount%></span>
						<span>藏书量</span>					
					</a>			
					<a class="stat-column" href="/commentslist">				
						<span class="number"><%- results.commentsCount%></span>
						<span>评论数</span>					
          </a>				
				
				</div>
			
			</div>
		
		</div>
		
		<div class="row">
		
			<div class="span5">
			
				<div class="slate">
				
					<div class="page-header">
						<h2><i class="icon-signal pull-right"></i>网站人气指数</h2>
					</div>
					<div id="placeholder" style="height: 297px;"></div>
				
				</div>
			
			</div>
		
			<div class="span5">
			
				<div class="slate">
				
					<div class="page-header">
						<h2><a href="/users"><i class="icon-shopping-cart pull-right iconlink"></i></a>最近登录用户（0是普通用户,1是管理员）</h2>
					</div>
					
					<table class="orders-table table">
					<tbody>
           <% results.userList.forEach(function(item,index){ %>
              <tr>
                  <td><a href="/userdetail?username=<%- item.username%>"><%- item.username%></a> <span class="label label-info"><%- item.isAdmin%></span></td>
                  <td><%- item.enterTime  %></td>
                </tr>
          <%  }) %>
					
					
						<tr>
							<td colspan="2"><a href="/users">查看更多用户</a></td>
						</tr>
					</tbody>
					</table>

				</div>
			
			</div>
		
		</div>
		
		<div class="row">
		
			<div class="span10">
			
				<div class="slate">
				
					<div class="page-header">
						<h2><a class="pull-right iconlink" href="/commentslist"><i class="icon-rss"></i></a>最新评论</h2>
					</div>
				
					<table class="orders-table table">
					<tbody>
						<% results.commentsList.forEach(function(item,index){ %>
							<tr>
								<td><a href="/userdetail?username=<%- item.username%>"><%- item.username%></a><br><%- item.content%></td>
								<td class="date"><%- item.enterTime%></td>
							</tr>
						<%  }) %>
						<tr>
								<td colspan="2"><a href="/commentslist">查看更多评论</a></td>
							</tr>
					</tbody>
					</table>

				</div>
			
			</div>
		

		
		</div>
		
		<div class="row">
		
			<div class="span10 footer">
			
				<p>&copy; 皮皮璇科技有限公司</p>
			
			</div>
		
		</div>
		
	</div>
	
	</div> <!-- end span10 -->
		
	</div> <!-- end row -->
		
</div> <!-- end container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/excanvas.min.js"></script>
<script src="assets/js/jquery.flot.min.js"></script>
<script src="assets/js/jquery.flot.resize.js"></script>
<script type="text/javascript">
$(function () {
    var d1 = [];
        d1.push([0, 32]);
        d1.push([1, 30]);
        d1.push([2, 24]);
        d1.push([3, 17]);
        d1.push([4, 11]);
        d1.push([5, 25]);
        d1.push([6, 28]);
        d1.push([7, 36]);
        d1.push([8, 44]);
        d1.push([9, 52]);
        d1.push([10, 53]);
        d1.push([11, 50]);
        d1.push([12, 45]);
        d1.push([13, 42]);
        d1.push([14, 40]);
        d1.push([15, 36]);
        d1.push([16, 34]);
        d1.push([17, 24]);
        d1.push([18, 17]);
        d1.push([19, 17]);
        d1.push([20, 20]);
        d1.push([21, 28]);
        d1.push([22, 36]);
        d1.push([23, 38]);

    $.plot($("#placeholder"), [ d1 ], { grid: { backgroundColor: 'white', color: '#999', borderWidth: 1, borderColor: '#DDD' }, colors: ["#FC6B0A"], series: { lines: { show: true, fill: true, fillColor: "rgba(253,108,11,0.4)" } } });
});
</script>


</body>
</html>